**/dataset

**/__pycache__/

synopsis_embeddings.npz

**/manga_dataset_with_embeddings_paraphrase-mpnet-base-v2.csv
**/manga_dataset_with_filled_ratings_paraphrase-mpnet-base-v2.csv
**/manga.csv
**/modified_manga.csv